Flask>=2.0.0
beautifulsoup4>=4.10.0
spacy>=3.2.0
gensim>=4.0.0
nltk>=3.6
sumy>=0.9.0
gunicorn>=20.1.0
requests>=2.26.0
lxml>=4.6.4
bs4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
